{%extends 'base.html'%}
{%load static%}
{%block container%}
<div class = "block" style="margin-top:250px">
  <section class="section blog-area">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 col-md-12">
					<div class="blog-posts">
                        {%for post in posts%}
                            <div class="single-post">
                                <div class="image-wrapper"><img src="{{post.img_src}}" alt="Blog Image"></div>

                                <div class="icons">
                                    <div class="left-area">
                                        <a class="btn caegory-btn" href="#"><b>{{post.category.name}}</b></a>
                                    </div>
                                    <ul class="right-area social-icons">
                                        <li><a href="#"><i class="ion-android-share-alt"></i>Share</a></li>
                                        <li><a href="#"><i class="ion-android-favorite-outline"></i>{{post.like}}</a></li>
                                        <li><a href="#"><i class="ion-android-textsms"></i>06</a></li>
                                    </ul>
                                </div>
                                <p class="date"><em>{{post.date}}</em></p>
                                <h3 class="title"><a href="{%url 'detail' post.id%}"><b class="light-color">{{post.title}}</b></a></h3>
                                <p class = "ell_text">{{post.text}}</p>
                                <a class="btn read-more-btn" href="{%url 'detail' post.id%}"><b>READ MORE</b></a>
                            </div><!-- single-post -->
                        {%endfor%}
                    </div>
                </div>
            </div>
        </div>
</section>
</div>
{%endblock%}