{%extends 'base.html'%}
{%block container%}
<div class = "block" style="margin-top:330px">
    <h1>Fashion post
        {%if form.title.value != None%}
            Update
        {%else%}
            Add
        {%endif%}
    </h1>

    <form method="post">
      {%csrf_token%}
        {%if form.name.value != None%}
            <input type = "text" name = "{{form.name.name}}"
                value = "{{form.title.value}}"
                class = "form-control">
        {%else%}
            <table>
                {{form.as_table}}
            </table>

        {%endif%}
        <input type="submit" class="btn btn-default">
    </form>
</div>
{%endblock%}
